<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group Info</title>
    <script
      src="https://kit.fontawesome.com/68a6255ca6.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/home.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      type="text/css"
      rel="stylesheet"
    />
  </head>
  <body class="container">
    <div>
      <div id="groupName" style="margin: 20px"></div>
    </div>
    <div style="margin-bottom: 20px">
      <form onsubmit="AddMembers(event)">
        <div class="row">
          <div class="col">
            <input
              class="form-control"
              type="text"
              id="membersInput"
              name="membersInput"
              placeholder="Comma(,) seperated Emails"
              required
            />
          </div>
          <div class="col">
            <button class="btn btn-primary" type="submit" id="addMembers">
              Add
            </button>
          </div>
        </div>
      </form>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">isAdmin</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody id="table_body"></tbody>
    </table>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"
      integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
    </script>
    <script src="/js/groupInfo.js"></script>
  </body>
</html>